<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"href="/static/css/main.css">
    <title>ひとりまーじゃん</title>
</head>
<body>
    <div class="win">
        {% if win %}
            <a href="/"><img src=/static/pic/win.png></a>
        {% endif %}
    </div>
    <div class="sutehai">
        {% for tile in sutehai %}{% if ((loop.index - 1) % 6) == 0 %}<br>{% endif %}<img src=/static/pic/{{tile.pic}}>{% endfor %}
    </div>
    <div class="haipai">
        {% for tile in tehai %}{% if loop.last %}&nbsp;{% endif %}<a href="/change/{{loop.index -1}}"><img src=/static/pic/{{tile.pic}}></a>{% endfor %}
    </div>
</body>